/*----slider----*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
  	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 52%;
	left: 0;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 61px;
	width: 55px;
	background: transparent url("../images/themes.png") no-repeat left top;
	margin-top: -65px;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  width:100%;
}
.callbacks_tabs{
	list-style: none;
	position: absolute;
	top: 88%;
	z-index: 999;
	left: 47%;
	padding: 0;
	margin: 0;
}
.callbacks_tabs li{
	display:inline-block;
}
@media screen and (max-width: 600px) {
  h1 {
    font: 24px/50px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:18px;
  width:18px;
  display:inline-block;
  border:2px solid #FFF;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
}
.callbacks_here a:after{
	border:2px solid #282528;
}
.slide-text-info h1{
	font-size: 2.3em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	color:#282528;
}
.slide-text-info h1 span{
	font-weight:800;
}
.slide-text-info h2{
	color:#282528;
	padding:0;
	margin:0.3em 0;
	font-size:1.3em;
} 
.slide-text-info{
	margin: 2.5% 0;
	text-align: left;
	position: absolute;
	left: 16%;
}
.slide-text p{
	font-size: 0.872em;
	width: 50%;
	margin: 0 auto;
	font-weight: 200;
	line-height: 1.6em;
	margin-bottom: 1em;
}
/*----*/
.btn1{
	color:#FFF;
	text-transform:uppercase;
}
/*----*/
.slide-text ul li span{
	width:7px;
	height:12px;
	background:url(../images/arrow1.png) no-repeat 0px 0px;
	display:inline-block;
	margin-right:0.5em;
}
.slide-text ul li{
	color: #282528;
	font-size: 0.875em;
	font-weight: 500;
	margin: 0 0 0.3em;
}
/*----*/
.big-btns{
	margin: 1.5em 2em;
	display: block;
}
.big-btns a{
	display: inline-block;
	border: 3px solid #282528;
	padding: 0.5em 1.2em 0.5em 0.8em;
	font-size: 1em;
	font-weight: 600;
	color: #282528;
	margin-right: 0.6em;
}
.big-btns a:hover{
	text-decoration:none;
	color:#282528;
	opacity:0.9;
	border-color:#FFF;
}
.big-btns a label{
	width: 40px;
	height: 34px;
	background: url(../images/btn-icons.png) no-repeat 0px 0px;
	display: inline-block;
	vertical-align: middle;
	margin-right:0.5em;
}
.big-btns a.download label{
	background-position:0px 0px;
}
.big-btns a.view label{
	background-position:-41px 0px;
}
.slide-text {
	margin: 1.2em;
}
.divice-demo{
	position: absolute;
	bottom: 0px;
	z-index: 999;
	right: 10%;
}
.header-section{
	position:relative;
}
/*----//slider----*/
/*-----features----*/
.section-head{
	text-align:center;
	padding:2em 0;
}
.section-head h3{
	color:#282528;
	font-weight:800;
	font-size:1.6em;
}
.section-head h3 span{
	width:100%;
	background:#000;
	height:1px;
	display:inline-block;
	vertical-align:middle;
}
span.frist{
	margin-right:1em;
}
span.second{
	margin-left:1em;
}
.section-head p{
	width: 100%;
	margin: 3em auto 1.2em auto;
	color: #282528;
	line-height: 1.8em;
	font-size: 1.1em;
}
/*----features-grids----*/
.features-grid-info{
	margin:4em 0;
}
.features-icon span{
	width:40px;
	height:40px;
	display:inline-block;
	background:url(../images/feature-icons-l.png) no-repeat 0px 0px;
	margin-top:1em;
}
.features-icon span.f-icon1{
	background-position: 0px -200px;
}
.features-icon span.f-icon2{
	background-position: 0px -405px;
}
.features-info h4{
	font-weight:700;
	color:#282528;
}
.features-info p{
	color:#282528;
	font-size:0.875em;
	line-height:1.8em;
}
.features-icon1{
	background-position:0px 0px;
}
/*----*/
.features-icon1 span{
	width:40px;
	height:40px;
	display:inline-block;
	background:url(../images/feature-icons-r.png) no-repeat -13px 0px;
	margin-top:1em;
}
.features-icon1 span.f-icon4{
	background-position: -13px -200px;
}
.features-icon1 span.f-icon5{
	background-position: -13px -405px;
}
/*----screen-shot-gallery----*/
.screen-shot-gallery{
	background:#FAFAFA;
	padding:0em 0;
}
/*-----*/
.show-reel{
	background:#F8E514;
	margin:2em 0 0;
}
.show-reel h5 span{
	width:37px;
	height:43px;
	display:inline-block;
	background:url(../images/play-btn.png) no-repeat 0px 0px;
	vertical-align:middle;
}
.show-reel h5 span:hover{
	opacity:0.8;
}
.show-reel h5{
	font-size: 2em;
	font-weight: 100;
	letter-spacing: 0.5em;
	padding: 6em 0;
}
/*--- team ---*/
.team{
	background: #F5F5F5;
	padding: 2em 0 5em;
}
.team-member-info{
	position:relative;
}
.team-member-info label{
	display: none;
	position: absolute;
	top: 0px;
	width: 100%;
	min-height: 255px;
	background: #F8E72B;
	padding: 2em 1em;
}
.team-member-info:hover label.team-member-caption{
	display:block;
}
.team-member-info img.member-pic{
	width:100%;
}
.team-member-info h5{
	margin:0.8em 0 0;
	padding:0;
}
.team-member-info span{
	color: #A2A4A7;
	font-size: 0.875em;
}
.team-member-info h5 a{
	color:#282528;
	font-size:1.4em;
	font-weight:600;
}
.team-member-caption p{
	font-size:0.875em;
	text-align:center;
	color:#444144;
}
/*----team-member-caption----*/
.team-member-caption ul li{
	display:inline-block;
}
.team-member-caption ul li a span{
	width:40px;
	height:40px;
	display:inline-block;
	background:url(../images/team-social.png) no-repeat 0px 0px; 
}
.team-member-caption ul{
	margin:2em 0 0 0;
	padding:0;
}
.team-member-caption ul li a.t-twitter span{
	background-position:0px 0px; 
}
.team-member-caption ul li a.t-facebook span{
	background-position: -48px 0px;
}
.team-member-caption ul li a.t-googleplus span{
	background-position: -91px 0px;
}
/*----*/
#myCarousel .carousel-inner .item p {
    font-size: 1.7em;
    line-height: 1.6em;
    margin: 0;
    /* color: #282528; */
    color: #fff;
}
.item p{
	font-size:1.7em;
	line-height:1.6em;
	margin:2em 0;
	/*color:#282528;*/
	color: #fff;
}
.test-monials{
	padding:5em 0;
}
.quit-people img{
	border-radius:30em;
	-webkit-border-radius:30em;
	-moz-border-radius:30em;
	-o-border-radius:30em;
	-ms-border-radius:30em;
	border:3px solid #F8E72B;
}
.quit-people{
	margin-bottom:1em;
}
.quit-people h4{
	margin:0.5em 0 0.3em 0;
	padding:0;
}
.quit-people h4 a{
	color:#282528;
	font-weight:600;
}
.quit-people span{
	color:#282528;
	font-size:0.875em;
}
/*--- //team ---*/
/*---- featured -----*/
.featured{
	background:transparent;
	padding:1em 0 3em;
}
.featured h3{
	margin-bottom:3em;
}
/*---- //featured -----*/
/*--- getintouch -----*/
.contact-form h3{
	color:#282528;
	font-size:1.2em;
	font-weight:600;
	margin:1em 0;
}
/*.contact-form input[type="text, email, password"],.contact-form textarea{
	width: 100%;
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: 2px ridge #DBDBDB;
	outline: none;
	padding: 2em 0 2em 0;
	font-size: 0.9em;
}*/
.contact-form textarea{
	/*height:130px;*/
	outline:none;
	border-bottom: 1px ridge #DBDBDB;
	resize:none;
}
.contact-form input[type="submit"]{
	background: url(../images/msg-icon.png) no-repeat 0px 0px;
	height: 23px;
	width: 167px;
	display: block;
	outline: none;
	text-indent: 30px;
	border: none;
	margin: 1em 0;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.contact-form input[type="submit"]:hover{
	opacity:0.9;
	color:#999;
}
/*----*/
.footer-social-icons{
	margin:0;padding:0;
}
.footer-social-icons{
	margin-top:1.5em;
}
.footer-social-icons li{
	list-style: none;
	padding: 1em 0;
}
.footer-social-icons li a span{
	width:27px;
	height:27px;
	display:inline-block;
	background:url(../images/social-icons.png) no-repeat 0px 0px;
}
.footer-social-icons li a:hover{
	opacity:0.8;
}
.footer-social-icons li a.f-tw span{
	background-position:0px -40px; 
}
.footer-social-icons li a.f-db span{
	background-position: 0px -83px;
}
.footer-social-icons li a.f-ti span{
	background-position: 0px -128px;
}
.footer-social-icons li a.f-go span{
	background-position: 0px -171px;
}
.getintouch {
	border-bottom: 10px solid #F8E514;
	padding: 2em 0 0 0;
}
/*--- //getintouch -----*/
/*-----footer----*/
.footer-grid p{
	font-size:0.875em;
	line-height:1.8em;
}
.footer-grid h3{
	font-size:1.2em;
	font-weight:600;
	color:#282528;
}
.subscribe input[type="text"]{
	border: none;
	outline: none;
	position: relative;
	padding: 0.6em 0.6em;
}
.subscribe input[type="submit"]{
	width: 18px;
	height: 13px;
	display: inline-block;
	background: url(../images/arrow-2.png) no-repeat 0px 0px;
	border: none;
	outline: none;
	position: absolute;
	right: 10px;
	top: 38%;
}
.subscribe form{
	border: 1px solid #CCCCCC;
	height: 43px;
	position: relative;
	margin: 1.3em 0;
}
.explore ul{
	margin:0;
	padding:0;
}
.explore li{
	list-style:none;
}
.explore li a{
	font-size:0.875em;
	line-height:1.8em;
}
.explore li a:hover{
	text-decoration:none;
	color:#999;
}
.copy-right{
	margin-top:3em;
}
p.copy{
	font-weight:600;
}
p.copy a:hover{
	color:#999;
	text-decoration:none;
}
.footer-grids{
	padding:2em 0;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 26px;
	right: 3%;
	overflow: hidden;
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url("../images/to-top1.png") no-repeat 0px 0px;
	border-radius: 30em;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*--responsive design--*/
@media (max-width:1250px) and (min-width:1024px) {
	.nav>li>a {
		padding: 38px 9px !important;
	}
}
@media (max-width:1024px){
	.divice-demo img{
		width:80%;
	}
	.slide-text-info {
		margin: 0% 0;
		left: 8%;
	}
	.divice-demo{
		right:0;
	}
	.big-divice img{
		width:100%;
	}
	.team-member-info label {
		min-height: 125px;
		padding: 0.9em 1em;
	}
	.footer-divice img{
		width:100%;
	}
	.footer-divice{
		margin-top:15em;
	}
	.nav>li>a {
		padding: 10px 9px !important;
	}
	.navbar.navbar-default .navbar-brand {
		padding: 9px 1px 0px !important;
	}
}
/*-----768px-mediaquries----*/
@media (max-width:768px){
	.divice-demo img{
		width: 57%;
	}
	.slide-text-info {
		margin: -2% 0 0;
		left: 10%;
	}
	.divice-demo{
		right: 5%;
		text-align: right;
	}
	.big-divice img{
		width:initial;
	}
	.team-member-info label {
		min-height: 125px;
		padding:2em;
		top:0;
	}
	.footer-divice img{
		width: initial;
	}
	.footer-divice{
		margin-top:1em;
		text-align: center;
	}
	.slide-text-info h1 {
		font-size: 1.5em;
	}
	.slide-text-info h2 {
		font-size: 0.9em;
	}
	.slide-text {
		margin: 0.5em 0;
	}
	.slide-text ul li{
		font-size:0.8em;
	}
	.slide-text ul li:nth-child(2){
		display:none;
	}
	.big-btns a {
		border: 2px solid #282528;
		padding: 0.5em 0.8em 0.5em 0.8em;
		font-size: 0.8em;
	}
	.callbacks_tabs a:after {
		height: 10px;
		width: 10px;
	}
	.top-header {
		margin: 2.5em 0 0 0;
	}
	.section-head h3 {
		font-size: 1.4em;
		margin: 0;
	}
	.section-head p {
		width: 80%;
		margin: 1em auto 0.8em auto;
		font-size: 0.875em;
	}
	.features-grid-info {
		margin: 0em 0;
	}
	.team-member{
		margin-bottom:1em;
	}
	.footer-social-icons li {
		list-style: none;
		padding: 1em;
		display: inline-block;
	}
	.div1 {
		position: inherit !important;
		top: 0px !important;
	}
	.div2 {
		position: inherit !important;
		top: 0px !important;
	}
	.div3 {
		position: inherit !important;
		top: 0px !important;
	}
	.show480{
		display:block !important;
	}
	.navbar-toggle{
		display: none;
	}
	.topindex {
		position: inherit;
	}
	.home_padding{
		padding-top: 60px;
	}
	.white{
		margin-top:-10px;
	}
	.carousel-caption {
		top: 20%;
	}
}
/*-----640px-mediaquries----*/
@media (max-width:640px){
	.divice-demo img{
		width: 47%;
	}
	.slide-text-info {
		margin: -4% 0 0;
		left: 10%;
	}
	.divice-demo{
		right: 5%;
		text-align: right;
	}
	.big-divice img{
		width:initial;
	}
	.team-member-info label {
		min-height: 125px;
		padding:2em;
		top:0;
	}
	.footer-divice img{
		width: initial;
	}
	.footer-divice{
		margin-top:1em;
		text-align: center;
	}
	.slide-text-info h1 {
		font-size: 1.5em;
		margin: 0.5em 0;
	}
	.slide-text-info h2 {
		font-size: 0.9em;
	}
	.slide-text {
		margin: 0.5em 0;
	}
	.slide-text ul li{
		font-size:0.8em;
	}
	.slide-text ul li:nth-child(2){
		display:none;
	}
	.big-btns a {
		border: 1px solid #282528;
		padding: 0.3em 0.8em;
		font-size: 0.8em;
	}
	.callbacks_tabs a:after {
		height: 10px;
		width: 10px;
	}
	.top-header {
		margin: 2em 0 0 0;
		padding: 0em 1em;
	}
	.section-head h3 {
		font-size: 1.4em;
		margin: 0;
	}
	.section-head p {
		width: 80%;
		margin: 1em auto 0.8em auto;
		font-size: 0.875em;
	}
	.features-grid-info {
		margin: 0em 0;
	}
	.team-member{
		margin-bottom:1em;
	}
	.footer-social-icons li {
		list-style: none;
		padding: 1em;
		display: inline-block;
	}
	.big-btns {
		margin: 0.8em 0em;
		display: block;
	}
	.show-reel h5 {
		padding: 3em 0;
		font-size:1.8em;
	}
	.carousel-caption p {
	font-size: 1em !important;
	margin-top:-10px;
	}
}
/*-----480px-mediaquries----*/
@media (max-width:480px){
	.divice-demo img{
		width: 35%;
	}
	.slide-text-info {
		margin: -6% 0 0;
		left: 6%;
	}
	.divice-demo{
		right: 4%;
		text-align:right;
	}
	.big-divice img{
		width:initial;
	}
	.team-member-info label {
		min-height: 125px;
		padding:2em;
		top:0;
	}
	.footer-divice img{
		width: initial;
	}
	.footer-divice{
		margin-top:1em;
		text-align: center;
	}
	.slide-text-info h1 {
		font-size: 1.2em;
		margin: 0.0em 0;
	}
	.slide-text-info h2 {
		font-size: 0.8em;
		margin:0;
	}
	.slide-text {
		margin: 0.5em 0;
	}
	.slide-text ul li{
		font-size: 0.7em;
	}
	.slide-text ul li:nth-child(2){
		display:none;
	}
	.big-btns a {
		border: 1px solid #282528;
		padding: 0.5em 0.8em;
		font-size: 0.7em;
	}
	.callbacks_tabs a:after {
		height: 10px;
		width: 10px;
	}
	.top-header {
		margin: 1.4em 0 0 0;
		padding: 0em 1em;
	}
	.section-head h3 {
		font-size: 1.2em;
		margin: 0;
	}
	.section-head p {
		width: 90%;
		margin: 0.8em auto 0em auto;
		font-size: 0.875em;
	}
	.features-grid-info {
		margin: 0em 0;
	}
	.team-member{
		margin-bottom:1em;
	}
	.footer-social-icons li {
		list-style: none;
		padding: 1em;
		display: inline-block;
	}
	.big-btns {
		margin: 0.5em 0em;
		display: block;
	}
	.show-reel h5 {
		padding: 3em 0;
		font-size:1.8em;
	}
	.subscribe input[type="text"] {
		width: 100%;
	}
	.item p {
		font-size: 0.875em;
	}
	.big-btns a label {
		display: none;
	}
	.callbacks_tabs {
		top: 83%;
		left: 51%;
	}
	.carousel-caption {
		/*top: -27%;*/
		top: 5%;
	}
	#myCarousel .carousel-inner .item p {
    font-size: 0.9em !important;
    line-height: 1 !important;
	margin-top:-10px
}
.carousel-caption {
	left:5% !important;
	right:5% !important;
	}
.carousel-caption h1 {
    font-size: 1.2em;
	line-height: 1.5;
}
.carousel-caption p {
	font-size: 0.9em !important;
	}
.banner-shadow {
    text-shadow: 3px 2px 0px #000 !important;
}

}
/*-----320px-mediaquries----*/
@media (max-width:320px){
	.divice-demo img{
		width: 30%;
	}
	.slide-text-info {
		margin: -6% 0 0;
		left: 6%;
	}
	.divice-demo{
		right: 4%;
		text-align:right;
	}
	.big-divice img{
		width:100%;
	}
	.team-member-info label {
		min-height: 125px;
		padding:2.2em;
		top:0;
	}
	.footer-divice img{
		width: 100%;
	}
	.footer-divice{
		margin-top:1em;
		text-align: center;
	}
	.slide-text-info h1 {
		font-size: 1em;
		margin: 0.0em 0;
		line-height:1.8em;
	}
	.slide-text-info h2 {
		font-size: 0.7em;
		margin: 0;
		width: 55%;
		line-height: 1.5em;
	}
	.slide-text {
		margin: 0.5em 0;
	}
	.slide-text ul li{
		font-size: 0.7em;
	}
	.slide-text ul li:nth-child(2){
		display:none;
	}
	.big-btns a {
		border: 1px solid #282528;
		padding: 0.4em 0.5em;
		font-size: 0.6em;
	}
	.callbacks_tabs a:after {
		height: 10px;
		width: 10px;
	}
	.top-header {
		margin: 1.4em 0 0 0;
		padding: 0em 1em;
	}
	.section-head h3 {
		font-size: 1em;
		margin: 0;
	}
	.section-head p {
		width: 90%;
		margin: 0.8em auto 0em auto;
		font-size: 0.875em;
	}
	.features-grid-info {
		margin: 0em 0;
	}
	.team-member{
		margin-bottom:1em;
	}
	.footer-social-icons li {
		list-style: none;
		padding: 1em;
		display: inline-block;
	}
	.big-btns {
		margin: 0em 0em;
		display: block;
	}
	.show-reel h5 {
		padding: 2em 0;
		font-size: 1.2em;
	}
	.subscribe input[type="text"] {
		width: 100%;
	}
	.item p {
		font-size: 0.875em;
	}
	.big-btns a label {
		display: none;
	}
	.callbacks_tabs {
		top: 95%;
		left: 4%;
	}
	.header-section {
		padding: 0 0 2em 0;
		background: #F9E514;
	}
	.slide-text ul{
		display:none;
	}
	.screen-shot-gallery {
		padding: 0em 0;
	}
	.featured {
		padding: 0em 0 2em;
	}
	.team {
		padding: 0em 0 2em;
	}
	.test-monials {
		padding: 2em 0;
	}
	.getintouch {
		padding: 0em 0 0 0;
	}
}


/*new css*/
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview .fa,#product .portfolio-item .portfolio-item-inner .portfolio-info .preview .fa, #Services .portfolio-item .portfolio-item-inner .portfolio-info .preview .fa, #COE .portfolio-item .portfolio-item-inner .portfolio-info .preview .fa, #Industrysolutions .portfolio-item .portfolio-item-inner .portfolio-info .preview .fa {
  padding-top: 13px;
}
.small{
	font-size: 32px !important;
}
#navigation{
	top: 115px;
  	position: absolute;
}
#navigation p{
	font-size: 14px;
}
#navigation p span{
	color: #429FE4;
}
#navigation p a{
	color: #282828;
}
#navigation p a:hover{
	color: #429FE4;
}
.padding-L{
	  padding-left: 40px;
}

#aboutus{
  background: #F7F7F7 url('../images/banner/aboutus.jpg') no-repeat 100% top; 
  width: 100%;
  height: 250px;
 }
 .homeh2{
 	font-size: 35px !important;
 }
 /*.carousel-caption{
 	padding-bottom: 230px;
 }*/
 .carousel-caption{
 	padding-bottom: 220px;
}
.modal-dialog{
	width: 675px !important;
	margin: 100px auto !important;
}
.modal-backdrop.in {
  opacity: 1 !important;
}
.modal-body img {
  border: 1px solid #ccc;
}

.career .section-header h2, .career .section-header p, .career .section-header p a {
  color: #fff !important;
}
.career .section-header p{
	  font-size: 16px;
  line-height: 31px;
}

.back-to-top {
    position: fixed;
    /*bottom: 2em;*/
    right: 0px;
    text-decoration: none;
    /*color: #000000;*/
    /*background-color: rgba(235, 235, 235, 0.80);*/
    font-size: 12px;
    /*padding: 1em;*/
    display: none;

    bottom: 0px;
 	right: 10px;
 	padding: 5px 10px;
  	background: #62BDF0;
  	color: #FFF;
  	-webkit-animation: bounce 2s ease infinite;
  	animation: bounce 2s ease infinite;
}

.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
}
.back-to-top .fa{
	  font-size: 30px ;
}
.banner-shadow{
	text-shadow: 3px 4px 0px #000;
}
.bullets{
	  background-color: #62BDF0;
  color: #fff;
  padding: 0px 12px 6px;
  border-radius: 50px;
  font-size: 32px;
  font-weight: bold;
  margin-right: 25px
}
#enpm img{
	width: 40px;
  	margin-right: 15px;
}
.magnify{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 180px;
}
.slide-custom {
    min-height:160px;
    /*padding:10px;*/
    line-height:30px;
}
.pad-top {
     padding-top:80px;
}
#carousel-example {
    margin-top:50px;

}

.text-center {
    text-align:center;
}







/*=========================13/4/16=======================*/
.pt20{
	padding-top:20px;
}
.pt30{
	padding-top:30px;
}
.mb30{
	margin-bottom: 30px;
}
.activeness{
	color:#62BDF0;
}
.new-icons li{
	font-weight: 600;
	cursor: pointer;
}
.new-icon li{
	font-weight: 600;
	cursor: pointer;
}
.div1{
	position: fixed;top: 130px;
}
.div2{
	position: fixed;top: 305px;
}
.div3{
	position: fixed;top: 505px;
}
#eurl1{
	border-bottom: 1px solid;
}
#cheap1{
	border-bottom: 1px solid;
}
#customer1{
	border-bottom: 1px solid;
}
#tom1{
	 border-bottom: 1px solid;
 }
#1by41{
	border-bottom: 1px solid;
}
.pb20{
	padding-bottom: 20px;
}
#form{
	border-top: 1px solid;
	margin-top:30px;
}
.para{
	font-weight: bold;
	font-size: 12px;
}
.white{
	color:#fff !important;
}
.show480{
	display:none;
}
.menu.show-nav {
	/* -webkit-transform: translateX(-300px); */
	-ms-transform: translateX(-300px);
	/* transform: translateX(-300px); */
	-webkit-transform: translateX(-300px) tranlateZ(0);
	-ms-transform: translateX(-300px) tranlateZ(0);
	transform: translateX(-300px) tranlateZ(0);
	/* -webkit-transform: translate3d(-300px, 0, 0); */
	/* transform: translate3d(-300px, 0, 0); */
}
.menu123 {
	width:0px !important;
}
.hovr {
    color: #000;
}
.hovr:hover {
    text-decoration: underline;
    color: #45aed6;
}
.image{
	width:100%;
}
.mp{
	background-image: url('../images/team/mp.jpg');
}
.ns{
	background-image: url('../images/team/ns.jpg')
}
.sa{
	background-image: url('../images/team/sa.jpg')
}
/*.as{
	background-image: url('../images/team/as.jpg')
}*/
.anusman{
	background-image: url('../images/team/Anshuman Singh (2).jpg')
}
.sunity{
	background-image: url('../images/team/Sunity-Choudhary.jpg')
}
.margin0{
	margin:0px;
}
.cindicators{
	position: relative;margin-top: 12px;
}
.portfolio{
	padding: 120px 0 !important;
}

.gallery
{
    display: inline-block;
    margin-top: 20px;
}

/*.careers1{
	background-image: url('../images/career-bg.png') !important;background-repeat: no-repeat; background-size: cover;  padding: 220px 0 !important;
}*/
.news1{
	padding: 120px 0 0;
}
.padd0{
	padding: 0px !important;
}
.pb15{
	padding-bottom: 15px;
}
.pt65{
	padding-top: 65px;
}
.pt30{
	padding-top: 30px;
}
.mt10{
	margin-top: 10px !important;
}
.mt-15{
	margin-top:-15px;
}
.mt20{
	margin-top: 20px;
}
.mt67{
	margin-top: 67px;
}
.mt72{
	margin-top: 72px;
}
.mt250{
	margin-top: 250px;
}
.ml15{
	margin-left: 15px;
}
.mh90{
	min-height: 90px;
}
.mb35{
	margin-bottom: 35px;
}
.mt5{
	margin-top:5px;
}
.mb5{
	margin-bottom: 5px !important;
}
.mb10{
	margin-bottom:10px !important
}
.mb15{
	margin-bottom:15px !important
}
.mb30{
	margin-bottom:30px !important
}
.iframe123{
	height:220px;width:100%;overflow:hidden;
}
.iframe-class{
	border:0;margin-top:-170px
}
.contacth3{
	border-bottom: 1px solid #DBDBDB;padding-bottom: 4px;
}
.form-action{
	background: #DBDBDB;padding: 10px;border: 1px solid #C2C2C2;margin-bottom: 20px;
}
.newicons{
	list-style: none;padding-left: 0px;
}
.navigation1{
	display: none;top:120px;
}
.navigation2{
	display: none;top:105px;
}
.none{
	display: none;
}
.red{
	color:red;
}
.left{
	text-align: left !important;
}
.boderr{
	border-bottom: 1px solid #000;
}
.boderrr{
	border-top: 1px solid #000;
}
.blockk{
	display: block;
}
.apply{
	display: block;margin-top:150px;height: 190px;
}
.forms123{
	margin-bottom:120px;display:none
}
.width30{
	width:30% !important;
}
.size1{
	width: 230px !important; height: 66px;margin-bottom: 15px;
}
.size2{
	width: 230px !important; height: 66px;margin-left: -21px;margin-bottom: 15px;
}
.menunew{
	color: #fff !important;background: #000 !important;
}
.backfff{
	background: #fff;
}
.head_top{
	min-height: 70px !important;background: #000 !important;
}
.hand{
	width: 93% !important;margin-left: 18% !important; margin-top:9px !important;
}
.play1{
	width:42px !important;margin-left:14px !important;
}
.play2{
	width:42px !important;
}
.play3{
	width:42px !important;margin-top: 69px !important;
}
.play4{
	width:42px !important;margin-top: 8px !important;
}
.play5{
	width:42px !important;margin-top: 34px !important;
}
.ft20{
	font-size:20px;
}
.image_top{
	top:-200px;
}
.hr_top{
	margin-top: -115px;
}
.app{
	color: #1883c7;padding-right: 10px;
}
.magnify{
	background-image: url(../images/magnify.png);
}




/*========================hamburger menu===============*/
#site-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

main {
	*zoom: 1;
	width: auto;
	max-width: 1200px;
	float: none;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 20px;
}

main:before, main:after {
	content: '';
	display: table;
}

main:after { clear: both; }

/* Navbar Menu Component */

.menu {
	width: 300px;
	height: 100%;
	background: #429DD0;
	position: fixed;
	top: 0;
	right: -300px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: hidden;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	-webkit-transform: translateX(0) translateZ(0);
	transform: translateX(0) translateZ(0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
	transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
	z-index: 10;
}

.menu.show-nav {
	-webkit-transform: translateX(-300px);
	-ms-transform: translateX(-300px);
	transform: translateX(-300px);
	-webkit-transform: translateX(-300px) tranlateZ(0);
	-ms-transform: translateX(-300px) tranlateZ(0);
	transform: translateX(-300px) tranlateZ(0);
	-webkit-transform: translate3d(-300px, 0, 0);
	transform: translate3d(-300px, 0, 0);
}

.menu ul {
	margin: 0;
	padding: 0;
}

.menu ul li {
	position: relative;
	list-style: none;
	width: 60%;
	margin: 0 auto;
	padding: 20px 10px;
	text-align: center;
	border-bottom: 1px solid #343434;
	box-shadow: 0 -1px 1px -1px #746559;
}

.menu ul li:first-child {
	margin-top: 20px;
	border: 0;
	box-shadow: none;
}

.menu ul li a {
	position: relative;
	font-weight: 300;
	padding: 8px 10px;
	color: rgba(255, 255, 255, 0.7);
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.menu ul li a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #f38b00;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
	transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
}

.no-touch .menu ul li a:hover:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	visibility: visible;
}

.menu p {
	color: rgba(255, 255, 255, 0.7);
	position: absolute;
	top: 86%;
	left: 20px;
	font-size: 0.875em;
	text-align: center;
}

.menu p a {
	color: rgba(243, 139, 0, 0.6);
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.menu p a:hover {
	color: #f38b00;
	text-decoration: underline;
}

.nav-toggle {
	position: fixed;
	top: 30px;
	right: 30px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	-webkit-transform: translateX(0) translateZ(0);
	transform: translateX(0) translateZ(0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.4s cubic-bezier(0.32, 1.25, 0.375, 1.15);
	transition: all 0.4s cubic-bezier(0.32, 1.25, 0.375, 1.15);
	z-index: 11;
}

.nav-toggle span {
	color: #4c4c4c;
	color: rgba(0, 0, 0, 0.7);
	padding: 5px;
	font-size: 1.875em;
}

.no-touch .nav-toggle span:hover { color: black; }

.nav-toggle span.fa-times { color: #fff; }

.nav-toggle span.fa-times:hover { color: #fff; }

.nav-toggle.show-nav {
	top: 12px;
	right: 12px;
}


/*==========================-*/




/*--welcome start here--*/
.welcome {
    padding: 5em 0em;
}
.welcome-top h3 {
    font-size: 3em;
    color:#CE254B;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
}
.welcome-top p {
    font-size:0.91em;
    color:#797878;
    /*width:44%;*/
    width:75%;
    margin: 0.7em auto 0.5em;
    text-align: center;
    line-height: 1.8em;
}
/*-- agileits --*/
.welcome-top {
    padding-bottom: 4em;
}
.welcome-w3agile h3 {
    font-size: 1.7em;
    color: #fff;
    margin: 12px 0px;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.welcome-w3agile p {
    font-size: 0.91em;
    color:#fff;
    line-height: 1.8em;
}
.welcome-w3agile {
    text-align: center;
    padding: 2em 2em;
}
.wel-1 {
    background:#FB623A;
}
.wel-2 {
    background: #ffffff;
}
.wel-3 {
    background:#03C0CA;
}
.wel-4 {
    background:#00a388;
}
.welcome-w3agile span{
    width: 60px;
    height: 60px;
    display: block;
    margin:3em auto 0em;
}
i.wel-num {
    position: absolute;
    top: 0;
    left: 0;
}
.welcome-w3agile span.wel-icon1 {
    background:url(../images/ic1.png)no-repeat center;
}
.welcome-w3agile span.wel-icon2 {
    background:url(../images/ic2.png)no-repeat center;
}
.welcome-w3agile span.wel-icon3 {
    background:url(../images/ic3.png)no-repeat center;
}
.welcome-w3agile span.wel-icon4 {
    background:url(../images/ic4.png)no-repeat center;
}
/*--commen effect--*/
span.hovicon {
    display: inline-block;
    font-size: 45px;
    line-height: 90px;
    cursor: pointer;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
    color: #fff;
}
span.hovicon.small {
    font-size: 20px;
    line-height:45px;
    width:45px;
    height:45px;
    margin:7px;
}
span.hovicon.mini {
    font-size: 15px;
    line-height:32px;
    width:30px;
    height:30px;
    margin:7px;
}
span.hovicon.auto-width {
    width: auto;
    height: auto;
    padding: 15px;
}
span.hovicon:after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
span.hovicon:before {
    speak: none;
    font-size: 40px;
    line-height: 80px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}
/* Effect 4 */
 .hovicon.effect-4 {
    width: 80px;
    height: 80px;
    box-shadow: 0 0 0 3px #343434!important;
}
.hovicon.effect-4.small {
    width:45px;
    height:45px;
}
.hovicon.effect-4.mini {
    width:30px;
    height:30px;
}
.hovicon.effect-4.sub-a {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}
.hovicon.effect-4:before {
    line-height: 80px;
}
.hovicon.effect-4:after {
    top: -3px;
    left: -3px;
    padding: 0;
    z-index: 10;
    border: 3px dashed #ffffff;
}
.hovicon.effect-4:hover {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    color: #fff;
}
.hovicon.effect-4:hover span {
    color: #fff;
}
/* Effect 4b */
 .hovicon.effect-4.sub-b:hover {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}
.hovicon.effect-4.sub-b:hover:after {
    -webkit-animation: spinAround 9s linear infinite;
    -moz-animation: spinAround 9s linear infinite;
    animation: spinAround 9s linear infinite;
}
@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spinAround {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}
/*--welcome end hee--*/
/*--news strat here--*/
.news {
    padding:5em 0em 5em 0em;
}
.we-choose-rit h3 {
    font-size: 2.5em;
    color: #343434!important;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
    margin-bottom: 0.5em;
}
.news-left h3 {
    font-size: 2.5em;
    color: #CE254B;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
    margin-bottom: 0.5em;
}
/*-menu tabes start here--*/
/*** .Nav Class ************************/




.mr20{
	margin: 20px;
	display: block;
}

.mr30{
	margin: 30px;
	display: block;
}
.mrTop30{
	margin-top: 30px;
	display: block;
}

.mrBottom30{
	margin-bottom: 30px;
	display: block;
}

.gutterSpace{
	padding: 0px;
	margin:0px;
}




/*--services start here--*/
.services {
    padding: 5em 0em;
}
.services-top h2 {
    color: #343434!important;
    font-size: 3em;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.services-top {
    text-align: center;
    padding-bottom: 3em;
}
.ser-agileinfo {
    text-align: center;
    margin-bottom: 2.5em;
}
.ser-agileinfo h4 {
    font-size: 1.5em;
    color: #000;
    margin: 0.2em 0em;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.ser-agileinfo p {
    font-size:0.91em;
    color: #797878;
    line-height: 1.8em;
    width: 75%;
    margin: 0 auto;
}
.ser-agileinfo span{
	width: 60px;
    height: 60px;
    display: inline-block;
    padding: 1em;
}
span.wel-icon5.hovicon.effect-4.sub-b {
    background: url(../images/ic5.png)no-repeat center;
}
span.wel-icon6.hovicon.effect-4.sub-b {
    background: url(../images/ic6.png)no-repeat center;
}
span.wel-icon7.hovicon.effect-4.sub-b {
    background: url(../images/ic7.png)no-repeat center;
}
span.wel-icon8.hovicon.effect-4.sub-b {
    background: url(../images/ic8.png)no-repeat center;
}
span.wel-icon9.hovicon.effect-4.sub-b {
    background: url(../images/ic9.png)no-repeat center;
}
span.wel-icon10.hovicon.effect-4.sub-b {
    background: url(../images/ic10.png)no-repeat center;
}
.ser-strip {
    background: url(../images/2.jpg)no-repeat center fixed;
    background-size: cover;
    min-height: 330px;
}
.ser-strip-main  {
    text-align: center;
    padding:8em 0em 0em 0em;
}
.ser-strip-main h3 {
    font-size: 3em;
    color: #fff;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.other-info {
  padding: 5em 0em 5em 0em;
}
.other-top {
  text-align: center;
  padding-bottom: 3em;
}
.other-top  h3 {
  font-size: 2.5em;
  color:#CE254B;
  margin: 0em 0em 0.2em 0em;
 font-family: 'Ubuntu Condensed', sans-serif;
}
.other-right h6 {
  font-size: 1.05em;
  color: #000;
  line-height: 1.3em;
  margin: 0em 0em 0.5em 0em;
}
.other-dates {
  margin: 0em 0em 0.4em 0em;
}
span.other-num {
  font-size: 2.5em;
  color: #F5AF33;
  font-family: 'Ubuntu Condensed', sans-serif;
  float: left;
  width: 10%;
}
.other-text {
  float: right;
  width: 90%;
  margin: 1em 0em 0em 0em;
}
.other-text p {
  font-size: 0.91em;
  color: #7E7E7E;
  line-height: 1.8em;
}
/*--services end here--*/




@media (min-width: 768px) and (max-width: 2500px) { 
#act{
	display: none;
}

}






@media(min-width: 481px) and (max-width: 990px)
{
	.home_padding{
		padding-top: 52px;
	}
   .navbar-brand>img {
      display: block;
      margin: 0px 15px;
      width: 120px;
    
  }
}





@media(min-width: 991px) and (max-width: 1024px)
{
	.home_padding{
		padding-top: 55px;
	}
}